<div class="form">

        <p class="formTitle" align="center">Register</p>
        <form novalidate name="regForm">
            <input class="inlineInput" ng-model="firstname" name="firstname" type="fname" placeholder="First name" required>
            <input class="inlineInput" ng-model="lastname" name="lastname" type="lname" placeholder="Last name" required>          
            <input ng-model="username" name="username" type="text" placeholder="Username" required>
            <p class="error" ng-show="error">{{errorMessage}}</p>
            <input ng-model="password" name="password" type="password" placeholder="Password" required>
            <input ng-model="email" name="email" type="email" placeholder="Email" required>
            <p class="error" ng-show="!regForm.email.$error.required && regForm.email.$invalid && regForm.$submitted">Please enter a valid email.</p>
            <input ng-model="country" name="country" type="country" placeholder="Country" required>
            <input ng-model="city" name="city" type="city" placeholder="City" required>
            <label class="formText">What are you interested in?  Choose 2 or more:</label>
            <span ng-repeat="category in categories" name ="categories">
                <label class="formText">
                    <input ng-model="category.checked" type="checkbox"/>{{category.id}}
                 </label>
            </span>
            <p class="error" ng-show="categoriesError">Please choose at least 2 categories.</p>
            <p class="error" ng-show="(regForm.firstname.$error.required || regForm.lastname.$error.required || 
            regForm.username.$error.required || regForm.password.$error.required || regForm.email.$error.required ||
            regForm.country.$error.required || regForm.city.$error.required) && regForm.$submitted">All fields are required.</p>
            <button class="submit" ng-click="register()">Sign in</button>
        </form>
    </div>