@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

body { 
	padding-top: 20px; 
	background: url('./images/background2.jpg');
	background-repeat: repeat-y;
	height: 100%;
	display: flex;
	background-size: cover;
	justify-content: center;
}

.navbar-inverse {
	margin-bottom: 0px; 
	background-color: #0a1d29; 
	border-color: #0a1d29;
	border-radius: 0;
}

.content {
	height: auto;
	color: white;
	padding: 25px;
	text-align: center;
}

.mainTitle {
	font-size: 40px;
	font-weight: bolder;
}

.form {
	margin-top: 30px;
	padding: 10px;
	width: 370px;
	background-color: #ffffff;
	opacity: 92%;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.719);
	text-align: center;
}

.formTitle {
	color: #24709c;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 23px;
	margin-bottom: 15px;
}

input {
	width: 76%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: rgba(136, 126, 126, 0.04);
	padding: 8px 15px;
	border: none;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	text-align: center;
	margin-bottom: 7px;
	margin-top: 7px;
	font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
	border: 2px solid rgba(0, 0, 0, 0.18) !important;
	
}

.submit {
	display: inline-block;
	cursor: pointer;
	border-radius: 5em;
	color: #fff;
	background: linear-gradient(to right, #24709c, #457c9c);
	border: 0;
	padding: 10px 40px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
	outline: none;
	margin-top: 5px;
}

.inlineInput {
	width: 38%;
}

.formText {
	text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
	color: #184966;
	font-size: 13px;
}

.error {
	font-size: 13px;
	color: red;
	margin: 1px;

}	

input[type=checkbox] { 
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0 7px 0 0;
	vertical-align: bottom;
	position: relative;
	top: -1px;
	cursor: pointer;
}

.category {
	width: 90vw;
	margin: 20px 0;
	background-color: white;
	padding: 5px;
	border-radius: 0.5em;
}

.categoryTitle {
	font-size: 16pt;
}

.scroll-menu {
	background-color: rgb(255, 255, 255);
	overflow: auto;
	white-space: nowrap;
	position: relative;
}

.myThumbnail{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	height: 120px; 
	width: 200px; 
	margin: 10px 5px;
}

.myThumbnail img{
	width: 100%;
	height: 100%;
}

.myThumbnail .name {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	width: 100%;
	padding: 5px;
  }

  .myThumbnail .name a{
	  color:white;
  }

/* .name {
    background-color: rgba(0,0,0, 0.3);
    bottom: 0;
    width: 100%;
    height: 15%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    transition: all 0.4s;
} */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	height: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#0a1d29;
	cursor: pointer;
}

 

