<div class="form">
    <p class="formTitle" align="center">Sign in</p>
    <form name="loginForm">
        <input class="input" ng-model="username" name="username" type="text" placeholder="Username" required>
        <input class="input" ng-model="password" name="password" type="password" placeholder="Password" required>
        <p class="error" ng-show="error">username or password are incorrect</p>
        <button class="submit" ng-click="login()" align="center" ng-disabled="loginForm.username.$invalid || loginForm.password.$invalid">Sign in</button>
        <div style="margin-top: 20px;">
            <label class="formText" ng-click="register()">Don't have an account yet? &nbsp;</label>
            <label style="text-decoration: underline;"><a href="#/register" class="formText">Register
                    now</a></label>
        </div>
        <p class="formText">Forgot Password?</p>
    </form>
</div>