
<div class="content">
    <div class="row scroll-menu">
            <p>Museums</p>
            <span ng-repeat="rec in records"> 
                <a href="#/"><img src="{{rec.imagePath}}" style="width: 200px;"></img></a>
            </span>
    </div>
    <div class="row scroll-menu">
        <span ng-repeat="rec in records"> 
            <a href="#/"><img src="{{rec.imagePath}}" style="width: 200px;"></img></a>
        </span>
</div>
<div class="row scroll-menu">
    <span ng-repeat="rec in records"> 
        <a href="#/"><img src="{{rec.imagePath}}" style="width: 200px;"></img></a>
    </span>
</div>
<div class="row scroll-menu">
    <span ng-repeat="rec in records"> 
        <a href="#/"><img src="{{rec.imagePath}}" style="width: 200px;"></img></a>
    </span>
</div>
</div>

